In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df=pd.read_csv('city_day.csv')

In [3]:
df

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29526,Visakhapatnam,2020-06-27,15.02,50.94,7.68,25.06,19.54,12.47,0.47,8.55,23.30,2.24,12.07,0.73,41.0,Good
29527,Visakhapatnam,2020-06-28,24.38,74.09,3.42,26.06,16.53,11.99,0.52,12.72,30.14,0.74,2.21,0.38,70.0,Satisfactory
29528,Visakhapatnam,2020-06-29,22.91,65.73,3.45,29.53,18.33,10.71,0.48,8.42,30.96,0.01,0.01,0.00,68.0,Satisfactory
29529,Visakhapatnam,2020-06-30,16.64,49.97,4.05,29.26,18.80,10.03,0.52,9.84,28.30,0.00,0.00,0.00,54.0,Satisfactory
29530,Visakhapatnam,2020-07-01,15.00,66.00,0.40,26.85,14.05,5.20,0.59,2.10,17.05,NaN,NaN,NaN,50.0,Good

In [4]:
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN

In [5]:
df['PM2.5']=df['PM2.5'].fillna(df['PM2.5'].median())
df['PM10']=df['PM10'].fillna(df['PM10'].median())
df['NO']=df['NO'].fillna(df['NO'].median())
df['NO2']=df['NO2'].fillna(df['NO2'].median())
df['NOx']=df['NOx'].fillna(df['NOx'].median())
df['NH3']=df['NH3'].fillna(df['NH3'].median())
df['CO']=df['CO'].fillna(df['CO'].median())
df['SO2']=df['SO2'].fillna(df['SO2'].median())
df['O3']=df['O3'].fillna(df['O3'].median())
df['Benzene']=df['Benzene'].fillna(df['Benzene'].median())
df['Toluene']=df['Toluene'].fillna(df['Toluene'].median())
df['Xylene']=df['Xylene'].fillna(df['Xylene'].median())
df['AQI']=df['AQI'].fillna(df['AQI'].median())

In [6]:
df.describe()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
count,29531.000000,29531.000000,29531.000000,29531.000000,29531.000000,29531.000000,29531.000000,29531.000000,29531.000000,29531.000000,29531.000000,29531.000000,29531.000000
mean,64.510857,109.659366,16.642601,27.726576,31.063568,20.813789,2.153872,13.830897,33.994121,2.859874,7.140485,1.788420,158.781552
std,59.807551,72.324020,21.506064,23.050531,29.477748,21.028862,6.724660,17.005647,20.202304,14.252822,17.224737,4.062039,130.272413
min,0.040000,0.010000,0.020000,0.010000,0.000000,0.010000,0.000000,0.010000,0.010000,0.000000,0.000000,0.000000,13.000000
25%,32.150000,79.315000,6.210000,12.980000,14.670000,12.040000,0.540000,6.090000,20.740000,0.240000,1.280000,0.980000,88.000000
50%,48.570000,95.680000,9.890000,21.690000,23.520000,15.850000,0.890000,9.160000,30.840000,1.070000,2.970000,0.980000,118.000000
75%,72.450000,111.880000,17.570000,34.665000,36.015000,21.755000,1.380000,13.810000,42.730000,2.420000,6.020000,0.980000,179.000000
max,949.990000,1000.000000,390.680000,362.210000,467.630000,352.890000,175.810000,193.860000,257.730000,455.030000,454.850000,170.370000,2049.000000

In [7]:
df.isnull().sum()

City             0
Date             0
PM2.5            0
PM10             0
NO               0
NO2              0
NOx              0
NH3              0
CO               0
SO2              0
O3               0
Benzene          0
Toluene          0
Xylene           0
AQI              0
AQI_Bucket    4681
dtype: int64

REMOVE THE OUTLIERS

In [9]:
Q1=df['PM2.5'].quantile(0.25)
Q3=df['PM2.5'].quantile(0.75)
IQR=Q3-Q1
lower_bound=Q1-1.5*IQR
upper_bound=Q1+1.5*IQR

In [10]:
df=df[(df['PM2.5']>=lower_bound) & (df['PM2.5']<=upper_bound)]

In [11]:
Q1=df['PM10'].quantile(0.25)
Q3=df['PM10'].quantile(0.75)
IQR=Q3-Q1
lower_bound=Q1-1.5*IQR
upper_bound=Q1+1.5*IQR

In [12]:
df=df[(df['PM10']>=lower_bound) & (df['PM10']<=upper_bound)]

In [13]:
df.describe()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
count,19555.000000,19555.000000,19555.000000,19555.000000,19555.000000,19555.000000,19555.000000,19555.000000,19555.000000,19555.000000,19555.000000,19555.000000,19555.000000
mean,40.386952,80.378296,11.271484,22.398944,23.648961,19.421388,1.841352,11.989569,31.612537,2.559453,5.774579,1.557022,113.699668
std,17.520965,23.973133,12.500529,17.329708,20.425460,22.331718,5.683644,15.330588,17.615027,16.455946,18.171046,3.610455,83.849630
min,1.720000,21.250000,0.020000,0.010000,0.000000,0.010000,0.000000,0.360000,0.010000,0.000000,0.000000,0.000000,17.000000
25%,26.230000,62.500000,5.245000,11.940000,12.240000,11.110000,0.470000,5.605000,20.130000,0.160000,0.860000,0.980000,76.000000
50%,42.450000,95.680000,9.660000,21.460000,22.550000,15.850000,0.850000,9.160000,30.840000,1.070000,2.970000,0.980000,105.000000
75%,48.570000,95.680000,11.620000,25.650000,27.275000,16.470000,1.140000,11.150000,38.475000,1.630000,3.920000,0.980000,118.000000
max,92.590000,116.110000,288.550000,277.310000,467.630000,352.890000,175.810000,193.860000,172.280000,455.030000,454.850000,137.450000,1842.000000

In [14]:
df.isnull().sum()

City             0
Date             0
PM2.5            0
PM10             0
NO               0
NO2              0
NOx              0
NH3              0
CO               0
SO2              0
O3               0
Benzene          0
Toluene          0
Xylene           0
AQI              0
AQI_Bucket    4349
dtype: int64

HERE WE CREATE A FUNCTION TO CATEGORIZE THE NULL VALUES IN THE AQI_Bucket

In [16]:
def mapping_aqi_bucket(aqi):
    if aqi is None:
        return None
    elif aqi <= 50:
        return 'Good'
    elif 51 <= aqi <= 100:
        return 'Satisfactory'
    elif 101 <= aqi <= 200:
        return 'Moderate'
    elif 201 <= aqi <= 300:
        return 'Poor'
    elif 301 <= aqi <= 400:
        return 'Very Poor'
    else:
        return 'Severe'

In [17]:
df['AQI_Bucket'] = df.apply(
    lambda row: row['AQI_Bucket'] if pd.notna(row['AQI_Bucket']) else mapping_aqi_bucket(row['AQI']),
    axis=1
)

In [18]:
df.isnull().sum()

City          0
Date          0
PM2.5         0
PM10          0
NO            0
NO2           0
NOx           0
NH3           0
CO            0
SO2           0
O3            0
Benzene       0
Toluene       0
Xylene        0
AQI           0
AQI_Bucket    0
dtype: int64

In [19]:
df['Day']=df['Date'].str.split('-').str[2]
df['Month']=df['Date'].str.split('-').str[1]
df['Year']=df['Date'].str.split('-').str[0]

In [20]:
df

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,Day,Month,Year
0,Ahmedabad,2015-01-01,48.57,95.68,0.92,18.22,17.15,15.85,0.92,27.64,133.36,0.00,0.02,0.00,118.0,Moderate,01,01,2015
1,Ahmedabad,2015-01-02,48.57,95.68,0.97,15.69,16.46,15.85,0.97,24.55,34.06,3.68,5.50,3.77,118.0,Moderate,02,01,2015
2,Ahmedabad,2015-01-03,48.57,95.68,17.40,19.30,29.70,15.85,17.40,29.07,30.70,6.80,16.40,2.25,118.0,Moderate,03,01,2015
3,Ahmedabad,2015-01-04,48.57,95.68,1.70,18.48,17.97,15.85,1.70,18.59,36.08,4.43,10.14,1.00,118.0,Moderate,04,01,2015
4,Ahmedabad,2015-01-05,48.57,95.68,22.10,21.42,37.76,15.85,22.10,39.33,39.31,7.01,18.89,2.78,118.0,Moderate,05,01,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29526,Visakhapatnam,2020-06-27,15.02,50.94,7.68,25.06,19.54,12.47,0.47,8.55,23.30,2.24,12.07,0.73,41.0,Good,27,06,2020
29527,Visakhapatnam,2020-06-28,24.38,74.09,3.42,26.06,16.53,11.99,0.52,12.72,30.14,0.74,2.21,0.38,70.0,Satisfactory,28,06,2020
29528,Visakhapatnam,2020-06-29,22.91,65.73,3.45,29.53,18.33,10.71,0.48,8.42,30.96,0.01,0.01,0.00,68.0,Satisfactory,29,06,2020
29529,Visakhapatnam,2020-06-30,16.64,49.97,4.05,29.26,18.80,10.03,0.52,9.84,28.30,0.00,0.00,0.00,54.0,Satisfactory,30,06,2020
29530,Visakhapatnam,2020-07-01,15.00,66.00,0.40,26.85,14.05,5.20,0.59,2.10,17.05,1.07,2.97,0.98,50.0,Good,01,07,2020

In [21]:
df.drop(columns='Date',inplace=True)

In [22]:
df

,City,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,Day,Month,Year
0,Ahmedabad,48.57,95.68,0.92,18.22,17.15,15.85,0.92,27.64,133.36,0.00,0.02,0.00,118.0,Moderate,01,01,2015
1,Ahmedabad,48.57,95.68,0.97,15.69,16.46,15.85,0.97,24.55,34.06,3.68,5.50,3.77,118.0,Moderate,02,01,2015
2,Ahmedabad,48.57,95.68,17.40,19.30,29.70,15.85,17.40,29.07,30.70,6.80,16.40,2.25,118.0,Moderate,03,01,2015
3,Ahmedabad,48.57,95.68,1.70,18.48,17.97,15.85,1.70,18.59,36.08,4.43,10.14,1.00,118.0,Moderate,04,01,2015
4,Ahmedabad,48.57,95.68,22.10,21.42,37.76,15.85,22.10,39.33,39.31,7.01,18.89,2.78,118.0,Moderate,05,01,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29526,Visakhapatnam,15.02,50.94,7.68,25.06,19.54,12.47,0.47,8.55,23.30,2.24,12.07,0.73,41.0,Good,27,06,2020
29527,Visakhapatnam,24.38,74.09,3.42,26.06,16.53,11.99,0.52,12.72,30.14,0.74,2.21,0.38,70.0,Satisfactory,28,06,2020
29528,Visakhapatnam,22.91,65.73,3.45,29.53,18.33,10.71,0.48,8.42,30.96,0.01,0.01,0.00,68.0,Satisfactory,29,06,2020
29529,Visakhapatnam,16.64,49.97,4.05,29.26,18.80,10.03,0.52,9.84,28.30,0.00,0.00,0.00,54.0,Satisfactory,30,06,2020
29530,Visakhapatnam,15.00,66.00,0.40,26.85,14.05,5.20,0.59,2.10,17.05,1.07,2.97,0.98,50.0,Good,01,07,2020

In [23]:
df['Day']=df['Day'].astype('float64')
df['Month']=df['Month'].astype('float64')
df['Year']=df['Year'].astype('float64')

In [24]:
df.describe()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,Day,Month,Year
count,19555.000000,19555.000000,19555.000000,19555.000000,19555.000000,19555.000000,19555.000000,19555.000000,19555.000000,19555.000000,19555.000000,19555.000000,19555.000000,19555.000000,19555.000000,19555.000000
mean,40.386952,80.378296,11.271484,22.398944,23.648961,19.421388,1.841352,11.989569,31.612537,2.559453,5.774579,1.557022,113.699668,15.792380,6.274559,2017.830887
std,17.520965,23.973133,12.500529,17.329708,20.425460,22.331718,5.683644,15.330588,17.615027,16.455946,18.171046,3.610455,83.849630,8.817496,3.066303,1.589731
min,1.720000,21.250000,0.020000,0.010000,0.000000,0.010000,0.000000,0.360000,0.010000,0.000000,0.000000,0.000000,17.000000,1.000000,1.000000,2015.000000
25%,26.230000,62.500000,5.245000,11.940000,12.240000,11.110000,0.470000,5.605000,20.130000,0.160000,0.860000,0.980000,76.000000,8.000000,4.000000,2017.000000
50%,42.450000,95.680000,9.660000,21.460000,22.550000,15.850000,0.850000,9.160000,30.840000,1.070000,2.970000,0.980000,105.000000,16.000000,6.000000,2018.000000
75%,48.570000,95.680000,11.620000,25.650000,27.275000,16.470000,1.140000,11.150000,38.475000,1.630000,3.920000,0.980000,118.000000,23.000000,9.000000,2019.000000
max,92.590000,116.110000,288.550000,277.310000,467.630000,352.890000,175.810000,193.860000,172.280000,455.030000,454.850000,137.450000,1842.000000,31.000000,12.000000,2020.000000

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19555 entries, 0 to 29530
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        19555 non-null  object
 1   PM2.5       19555 non-null  float64
 2   PM10        19555 non-null  float64
 3   NO          19555 non-null  float64
 4   NO2         19555 non-null  float64
 5   NOx         19555 non-null  float64
 6   NH3         19555 non-null  float64
 7   CO          19555 non-null  float64
 8   SO2         19555 non-null  float64
 9   O3          19555 non-null  float64
 10  Benzene     19555 non-null  float64
 11  Toluene     19555 non-null  float64
 12  Xylene      19555 non-null  float64
 13  AQI         19555 non-null  float64
 14  AQI_Bucket  19555 non-null  object
 15  Day         19555 non-null  float64
 16  Month       19555 non-null  float64
 17  Year        19555 non-null  float64
dtypes: float64(16), object(2)
memory usage: 2.8+ MB

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X=df.drop(columns=['AQI'],axis=1)
y=df[['AQI']]

In [28]:
y.head()

     AQI
0  118.0
1  118.0
2  118.0
3  118.0
4  118.0

In [29]:
X_train,X_test,y_train, y_test=train_test_split(
    X,
    y,
    test_size=0.2,
    random_state=42)

In [30]:
X_train.shape

(15644, 17)

In [31]:
X_test.shape

(3911, 17)

In [32]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

In [33]:
cat_features=X.select_dtypes(include='object').columns
num_features=X.select_dtypes(exclude='object').columns

In [34]:
numeric_transformer=StandardScaler()
oh_transformer=OneHotEncoder(drop='first')
preprocessor=ColumnTransformer([
    ('OneHotEncoder',oh_transformer,cat_features),
    ('StandardScaler',numeric_transformer,num_features)])

TO PREVENT DATA LEAKAGE WE USE FITTRANSFORMER AND TRANSFORMER

In [36]:
X_train=preprocessor.fit_transform(X_train)
X_test=preprocessor.transform(X_test)

In [37]:
X_train

array([[ 0.        ,  0.        ,  0.        , ...,  1.38519212,
        -0.09248158,  0.73607959],
       [ 0.        ,  0.        ,  0.        , ..., -0.65639243,
        -0.74462571, -1.77981054],
       [ 0.        ,  0.        ,  0.        , ..., -1.67718471,
        -0.09248158, -1.77981054],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  0.47782121,
         1.2118067 ,  0.73607959],
       [ 0.        ,  0.        ,  0.        , ..., -1.45034198,
         0.88573463, -0.52186548],
       [ 0.        ,  0.        ,  0.        , ..., -1.45034198,
         0.88573463, -1.77981054]])

In [38]:
from sklearn.linear_model import LinearRegression 
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor

In [39]:
models={
    'Linear Regression':LinearRegression(),
    'Random Forest':RandomForestRegressor(),
    'decision tree': DecisionTreeRegressor(),
    'K Nearest Neighbors':KNeighborsRegressor()
}

In [40]:
from sklearn.metrics import r2_score

In [41]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)
     # y_train_1d = y_train.ravel()
    y_train_pred = model.predict(X_train)
    # y_test_1d = y_test.ravel()
    y_test_pred = model.predict(X_test)

    # Training Set Performance
    model_train_accuracy = r2_score(y_train, y_train_pred)
    

    # Test Set Performance
    model_test_accuracy =  r2_score(y_test, y_test_pred)


    print(list(models.keys())[i])
    print('-------------------------------------------------------------------')

    print('Model Performance for Training Set')
    print('Accuracy : {:.4f}'.format(model_train_accuracy))
    

    print('-------------------------------------------------------------------')

    print('Model Performance for Test Set')
    print('Accuracy : {:.4f}'.format(model_test_accuracy))

Linear Regression
-------------------------------------------------------------------
Model Performance for Training Set
Accuracy : 0.8732
-------------------------------------------------------------------
Model Performance for Test Set
Accuracy : 0.8886

C:\Users\SMILE\AppData\Local\Temp\ipykernel_23060\322507419.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_train,y_train)

Random Forest
-------------------------------------------------------------------
Model Performance for Training Set
Accuracy : 0.9864
-------------------------------------------------------------------
Model Performance for Test Set
Accuracy : 0.9445
decision tree
-------------------------------------------------------------------
Model Performance for Training Set
Accuracy : 1.0000
-------------------------------------------------------------------
Model Performance for Test Set
Accuracy : 0.8343
K Nearest Neighbors
-------------------------------------------------------------------
Model Performance for Training Set
Accuracy : 0.8804
-------------------------------------------------------------------
Model Performance for Test Set
Accuracy : 0.8429

FROM THE ABOVE MODELS RANDOM FOREST GIVE THE BEST RESULT 
SO WE ARE GOING TO PERFORM HYPERPARAMETER TUNING ON THAT

In [43]:
from sklearn.model_selection import GridSearchCV

rf_params = {
    'n_estimators': [100, 250, 300, 350, 400, 450, 500, 550],
    'criterion': ['squared_error', 'poisson', 'friedman_mse', 'absolute_error'],  
    'max_depth': [1, 2, 4, 5, 6, 7, 8, 9],
    'max_features': ['sqrt', 'log2']
}

from sklearn.model_selection import GridSearchCV
grid = GridSearchCV(
    estimator=RandomForestRegressor(),
    param_grid=rf_params,  # Use param_grid here
    cv=3,                  # Number of cross-validation folds
    verbose=2,
    n_jobs=-1              # Use all available processors
)

In [52]:
rf_params = {
    'n_estimators': [100,200,300,400],
    'criterion': ['squared_error', 'friedman_mse'],
    'max_depth': [ 4, 6, 8],
    'max_features': ['sqrt']
}

In [54]:
from sklearn.model_selection import GridSearchCV 
grid = GridSearchCV( estimator=RandomForestRegressor(), param_grid=rf_params, # Use param_grid here 
                    cv=3, # Number of cross-validation folds
                    verbose=2,
                    n_jobs=-1 # Use all available processors 
                   )

In [56]:
grid.fit(X_train, y_train)

Fitting 3 folds for each of 24 candidates, totalling 72 fits

C:\Users\SMILE\hello\Lib\site-packages\sklearn\model_selection\_search.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv=3, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'friedman_mse'],
                         'max_depth': [4, 6, 8], 'max_features': ['sqrt'],
                         'n_estimators': [100, 200, 300, 400]},
             verbose=2)

In [57]:
grid.best_params_

{'criterion': 'friedman_mse',
 'max_depth': 8,
 'max_features': 'sqrt',
 'n_estimators': 200}

In [58]:
Rf = RandomForestRegressor(n_estimators=300,
 max_features='sqrt',
 max_depth= 8,
 criterion='friedman_mse')
Rf.fit(X_train, y_train)
y_prediction = Rf.predict(X_test)
r2_score(y_prediction, y_test)

C:\Users\SMILE\AppData\Local\Temp\ipykernel_23060\3205574320.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  Rf.fit(X_train, y_train)

0.8755483552800608

In [59]:
import joblib

# Save the model to a file
joblib.dump(Rf, 'random_forest_model.pkl')

# Later, you can load the model using
Rf_loaded = joblib.load('random_forest_model.pkl')